<div class="article">
    <div class="title">
        {# <time datetime="{{ entry.date.strftime("%Y,%m,%d") }}">{{ entry.date.strftime("%Y%m%d") }}</time> #}
        <h1{% if env.type == 'entry' %} class="post_h1"{% endif %}>
            {% if env.type == 'entry' %}
                {{ entry.title }}
            {% else %}
                <a href="{{ env.path + entry.permalink }}">{{ entry.title }}</a>
            {% endif %}
        </h1>
        <div class="meta{% if env.type == 'entry' %} post_meta{% endif %}">
            {{ entry.date.strftime("%Y") }}年{{ entry.date.strftime("%m") }}月{{ entry.date.strftime("%d") }}日 {{ entry.date.strftime("%H:%M") }}
            {% if env.type == 'index' %}
            <span class="separator">•</span>
            <span>{{ entry.content|count }}字{# ，约需{{ (entry.content|count/200)|int() }}分钟 #}</span>
            {% endif %}
        </div>
    </div>
    {% if env.type == 'entry' %}
    {# {{ entry.content }} #}
    {% endif %}
</div>
